<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>talachabee.validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>talachabee.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeCompany</servlet-name>
        <servlet-class>talachabee.changeCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify</servlet-name>
        <servlet-class>talachabee.modify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserAccess</servlet-name>
        <servlet-class>talachabee.updateUserAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateInfo</servlet-name>
        <servlet-class>talachabee.updateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addInfo</servlet-name>
        <servlet-class>talachabee.addInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteInfo</servlet-name>
        <servlet-class>talachabee.deleteInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyCompany</servlet-name>
        <servlet-class>talachabee.modifyCompany</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeCompany</servlet-name>
        <url-pattern>/changeCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify</servlet-name>
        <url-pattern>/modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserAccess</servlet-name>
        <url-pattern>/updateUserAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInfo</servlet-name>
        <url-pattern>/updateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addInfo</servlet-name>
        <url-pattern>/addInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteInfo</servlet-name>
        <url-pattern>/deleteInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyCompany</servlet-name>
        <url-pattern>/modifyCompany</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
